body{
	margin:0;
}

.hero img{
	position: relative;
	width: 100%;

}
.hero h1{
	position: absolute;
	left:435px;
	bottom:400px;
	margin: 0;
	font-size: 40px;
	letter-spacing: 14px;
}
.hero h1 span{
	 color: #a1a9b0;
}
.hero p{
	position:absolute;
	left: 465px;
	bottom: 335px;
	margin:0;
	color: #8c9398
}
.button{
	position: relative;
    color: white;
    bottom: 320px;
    left: 562px;
    background: #3dc9b3;
    padding: 20px 40px;
    text-decoration: none;

}

/**************2div**********/
.gray{
	position: relative;
	bottom:25px;
	background: #f3f5f8;;
	width: 100%;
	height: 400px;
	
}
.ingray{
	position: absolute;
	left: 300px;
	top:70px;
	width: 700px;
	text-align: center;

}
p{
	padding:20px 0  20px 0;

}
/***********3div***********/
.icon{
	width: 100%;
	position: relative;
	height: 650px;

}
.inicon{
	position: absolute;
	left:460px;
	top:50px;
	text-align: center;
}
/*vnutri icon 3 stolbika ,eto 1y*/
.kvadrat{
	position: absolute;
	left: 113px;
    top:-39px;
    text-align: center;
	height: 500px;
    width: 336px;
}
.inkvadrat{
    position: absolute;
    top: 253px;
}
.inkvadrat img{
	width:300px;

}
.inkvadrat h4::after{
    content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
/*eto vtoroy*/
.kvadrat2{
	height: 500px;
    width: 336px;
    position: absolute;
    left: 483px;
    top: -39px;
    text-align: center;
}
.inkvadrat2{
	position: absolute;
    top: 253px;
}
.inkvadrat2 img{
    width: 359px;
    margin: -16px;
}
.inkvadrat2 h4::after{
	content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
/*eto tretiy*/
.kvadrat3{
    height: 500px;
    width: 336px;
    position:absolute;
    top: -39px;
    left: 855px;
    text-align: center;
}
.inkvadrat3{
	position: absolute;
    top: 253px;
}
.inkvadrat3 img{
	width: 359px;
    margin: -16px;
}
.inkvadrat3 h4::after{
    content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
/************4div**********/
.iphone{
	position: absolute;
	width:100%;
	height: 650px;
	background: #f3f5f8;
}
.iniphone{
	position: relative;
	width: 49%;
    height: 650px;
    left: 688px;
    bottom: 651px;
    background: white;
    text-align: center;
}
.tel{
	position: relative;
    left: 208px;
    width:50%;
}
.iniphone p{
	padding: 5px 117px;
}
.tekst{
	position: absolute;
    top: 177px;
}
/**********5div*********/
.plants{
	width:100%;
	height: 400px;
}
.inplants{
	position:relative;
	bottom: 203px;
	color: white;
    text-align: center;
}
.plants img{
    max-width: 100%;
}
/***********6div***********/
/*3stolbca.eto 1-y*/
.pramoug{
	position: relative;
	left: 113px;
    top: 521px;
    text-align: center;
	height: 500px;
    width: 336px;
}
.inpramoug{
    position: relative;
    top: 253px;
}
.inpramoug img{
	position: absolute;
	width:336px;
	right: 0px;
    bottom: 175px;
}
.inpramoug h4::after{
	content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
/*eto 2-y*/
.pramoug2{

	height: 500px;
    width: 336px;
    text-align: center;
    position: absolute;
    left: 372px;
    bottom: 21px;
}
.inpramoug2{
	position: relative;
    top: 253px;
    bottom:160px;
}
.inpramoug2 img{
	position: absolute;
	width:336px;
	right: 0px;
	bottom:172px;
}
.inpramoug2 h4::after{
	content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
/*eto 3-y*/
.pramoug3{

	height: 500px;
    width: 336px;
    text-align: center;
    position: absolute;
    left: 750px;
    bottom: 21px;
}
.inpramoug3{
	position: relative;
    top: 253px;
    bottom:160px;
}
.inpramoug3 img{
	position: absolute;
	width:336px;
	right: 0px;
	bottom:172px;
}
.inpramoug3 h4::after{
	content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
/***********7div**********/
.black{
	position: relative;
    top:470px;
	width:100%;
	height: 250px;
	background: #242830;
	text-align: center;
}
.buttom1 a{
	position: relative;
	color:white;
	width: 70px;
	top:100px;
	color: white;
	background: #242830;
    padding: 20px 40px;
    text-decoration: none;
    border:1px solid white;
}
/*******8div********/
.ludi{
	text-align: center;
	position: relative;
    top: 470px;
    height: 500px;
}
.chel{
	width:350px;
	height: 390px;
	margin-left: 89px;
    margin-top: 47px;    
}
.chel h4::after{
	content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
.chel2{
	position: relative;
    width: 350px;
    height: 390px;
    left: 490px;
    bottom: 388px;
}
.chel2 h4::after{
	content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
.chel3{
	position: absolute;
    width: 350px;
    height: 390px;
    left: 904px;
    bottom: 6px;
}
.chel3 h4::after{
	content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
/******9div*****/
.input{
     background:url(img/keyboard-bg.jpg) no-repeat;
     height: 400px;
     margin-top: 525px; 
}
.input input[type=text]{
	margin-top: 109px;
    margin-left: 450px;
    border: solid 1px white;
    padding: 20px;
    width: 22%;
}
.input input[type=submit]{
	background: #3dc9b3;
    border: solid 1px #3dc9b3;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
}
.input img{
	position: relative;
	width: 76px;
    top: 90px;
    left: 620px;;

}
.input h3{
	color:white;
	position: relative;
	top: 104px;
    left: 485px;
    width:400px;
}
.input form{
	margin:0;
}
/**********10div*********/
.pred{
	position: relative;
	height: 500px;
	background: #f3f5f8;
	bottom:16px;
}
/*1kvadrat*/
.drop{
	position: relative;
	text-align: center;
	top:90px;
}
.box{
	position: relative;
	width:330px;
	height:200px;
	text-align: center;
	background: white;
	top:147px;
	left:151px; 
}
.box img{
	width:20px;
}
.inbox{
	 position:relative;
	 top: 22px;
}
.blue{
	color: #3dc9b3;
}
.inbox h5::after{
	content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
/*2kvadrat*/
.box2{
	position: relative;
	width:330px;
	height:200px;
	text-align: center;
	background: white;
	bottom: 53px;
    left: 515px;
}
.box2 img{
	width:20px;
}
.inbox2 h5::after{
	content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
/*3kvadrat*/
.box3{
	position: relative;
	width:330px;
	height:200px;
	text-align: center;
	background: white;
	left: 879px;
    bottom: 253px;
}
.box3 img{
	width:20px;
}
.inbox3 h5::after{
	content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}
.svaz{
	position: relative;
    bottom: 203px;
    left: 617px;
    width: 139px;
}
.obba{
	width: 40px;
}
/********posledniy***********/
.footer{
	position: relative;
	width: 100%;
	height: 180px;
	background: #242830;
	bottom: 14px;
	margin: 0;
}
.footer h4{
    color:white;
    position: absolute;
    top:36%;
    left: 150px;
}
.footer p{
	color: white;
    position: absolute;
    left: 60%;
    top:26%;
}